#![enable(implicit_some)]
Container(
    transform: (
        id: "background",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0.),
        width: 20.,
        height: 20.,
    ),
    background: (
        image: Data(Rgba((0.36, 0.10, 0.57, 1.0), (channel: Srgb))),
    ),
    children: [
        Button(
            transform: (
                id: "back_button",
                x: 104.,
                y: -328.,
                width: 128.,
                height: 64.,
                tab_order: 9,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Back",
                font: File("square.ttf", Ttf, ()),
                font_size: 20.,
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                normal_image: Data(Rgba((0.82, 0.83, 0.83, 1.0), (channel: Srgb))),
            )
        ),
        Button(
            transform: (
                id: "generate_seed_button",
                x: 250.,
                y: -250.,
                width: 128.,
                height: 64.,
                tab_order: 9,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Generate seed",
                font: File("square.ttf", Ttf, ()),
                font_size: 20.,
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                normal_image: Data(Rgba((0.82, 0.83, 0.83, 1.0), (channel: Srgb))),
            )
        ),
        Button(
            transform: (
                id: "start_game_button",
                x: 250.,
                y: -334.,
                width: 128.,
                height: 64.,
                tab_order: 9,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Start game",
                font: File("square.ttf", Ttf, ()),
                font_size: 20.,
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                normal_image: Data(Rgba((0.82, 0.83, 0.83, 1.0), (channel: Srgb))),
            )
        ),
    ],
)